<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="cosmic">
    <% 	if (typeof pageTileStr !== "undefined" && pageTileStr!="") { 	%>
    	<title><%= pageTileStr %> </title>
    	<% 	} 	else{	%>
    	<title>Root Internet </title>
    	<% } %>
    	<% 	if (typeof metaKeywordsStr !== "undefined" && metaKeywordsStr!="") { 	%>
    	<meta name="keywords" content="<%= metaKeywordsStr %>">
    	<% }else{ %>
    		<meta name="keywords" content="root, internet" />
		<% } %>
    	<% 	if (typeof metaDescriptionStr !== "undefined" && metaDescriptionStr!="") { 	%>
        <meta name="description" content="<%= metaDescriptionStr %>">
       	<% }else{ %>
       		<meta name="description" content="Root Internet" />
		<% } %>
        
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="fonts/museosanscyrl.css"> 
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="assets/owlcarousel/owl.carousel.css">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/parallax-slider/parallax-slider.css" />
    <script type="text/javascript" src="js/parallax-slider/modernizr.custom.28468.js"></script>