<aside class="content mCustomScrollbar light" data-mcs-theme="minimal-dark" >
     <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="img/user.jpg" alt="">
                            </div>
                            <div class="user-info">
                            	<% if (typeof authenticatedUser !== 'undefined' && authenticatedUser !== null) {	
                            		var loggedInUserNameStr="";
                            		if (typeof authenticatedUser.firstname !== 'undefined' && authenticatedUser.firstname !== null) {	
                            			loggedInUserNameStr+=authenticatedUser.firstname;
                            		}
                            		if (typeof authenticatedUser.lastname !== 'undefined' && authenticatedUser.firlastnamestname !== null) {	
                            			loggedInUserNameStr+="&nbsp;<strong>"+authenticatedUser.lastname+"</strong>";
                            		}
                            	%>
                                <div><%- loggedInUserNameStr %></div>
                                <% } %>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
														<input class="form-control" placeholder="Search..." type="text">
														<span class="input-group-btn">
														<button class="btn palette-belize-hole btn-color" type="button"> <i class="fa fa-search"></i> </button>
														</span> </div>
                        <!--end search section-->
                    </li>
                    <li class="active">
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Bookmarks<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="/list/bookmarks">Bookmarks</a> </li>
							<li><a href="/bookmark">Enter new Bookmark</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Categories<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="/list/categories">Categories</a> </li>
							<li><a href="/category">Enter new Category</a></li>
                        </ul>
                    </li>
					<li>
                        <a href="#"><i class="fa fa-file-text"></i> Documents<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="/list/documents">List Documents</a> </li>
							<li><a href="/document">Enter new document</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Email Queue<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="/list/emails">Email Queue</a> </li>
							<li><a href="/email">Enter new email</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Templates<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="/list/templates">List Templates</a> </li>
							<li><a href="/template">Enter new Template</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Tokens<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="/list/tokens">List Tokens</a> </li>
							<li><a href="/token">Enter new token</a></li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-file-text"></i> Web Routes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="/list/web_routes">Web Routes</a> </li>
							<li><a href="/web_route">Enter new Web Route</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> System Templates<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="/list/system_templates">System Templates</a> </li>
							<li><a href="/system_template">Enter new System Templates</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text"></i> Users<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li> <a href="/list/users">Users</a> </li>
							<li><a href="/user">Enter new user</a></li>
                        </ul>
                    </li>
				</ul>
    </aside>