<% include include/main-header %>
</head>
<body>
   	<!--header end-->
	<% include include/header %>
	<!--header end-->

<div STYLE="background:url(images/slider-bcg.jpg) no-repeat; overflow: hidden; width:100%; height:100%;">
<div CLASS="container" ALIGN="CENTER"> 

<div CLASS="row">
<div CLASS="col-md-12 baner">
<h2>Get <span>rid</span> of your uptime worries for<span> good. </span><BR>
We watch your <span>website.</span></h2>
<div><a HREF="#" CLASS="btn bnerbtn ">Read More</a></div>
</div>
</div>
</div>

</div>
 <div class="container wow fadeInUp animated">
      <div class="row ">
        <div class="col-md-12">
          <div class="text-center wow fadeInDown">
         <h1 CLASS="greatservices">  	<SPAN>OUR</SPAN> <STRONG>GREAT SERVICES</STRONG></h1>
		 <h4 CLASS="greatservicesh4">Explore our Features</h4>

          </div>


          <div class="feature-box">
		  
		  <div CLASS="col-md-8">
		  
		  <div class="col-md-12 col-sm-12  wow fadeInUp">
              <div class="feature-box-heading services">
                <img SRC="images/devops-consultancy.svg" WIDTH="6%">
                <h4>
               <span> D</span>evOps consultancy
                </h4>
				  <p >
        Developer to operations automation and consultancy, Jenkins, Ansible, Chef, Puppet, Git, IBM UrbanCode Deploy, Dell Boomi and many more automation tools and technologies. Perhaps we need a website completely redone like Tenthmatrix. <a HREF="#"> <SPAN>[ ]</SPAN></a>
              </p>
              </div>
            </div>
		  
		  
		  
		  <div class="col-md-6 col-sm-6  wow fadeInUp">
              <div class="feature-box-heading services">
            
                <img SRC="images/website.svg" WIDTH="12%">

              
                <h4>
               <span> W</span>ebsite
                </h4>
				
				
				  <p >
              For Website, Email and Database Server Monitoring.. <a HREF="#"> <SPAN>[ ]</SPAN></a>
              </p>
              </div>
            
            </div>
			<div class="col-md-6 col-sm-6  wow fadeInUp">
              <div class="feature-box-heading services">
                <img SRC="images/database.svg" WIDTH="12%">
   <h4>
               <span> D</span>omain names
			   
			   
			   
                </h4>
				  <p>
             For Domain names, Hosting, Cloud & Dedicated Servers...<a HREF="#"> <SPAN>[ ]</SPAN></a>
              </p>
              </div>
            </div>
			
			
		  
		  
		  </div>
		  
            
            
            
			
			<div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              
              		<IMG SRC="images/services.png"  CLASS="img-responsive img-thumbnail"  STYLE="height: 429px;
border-radius: 0px;" ALT=""/> </div>
			
			
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


  <!--------property start-------->
	
  <div CLASS="container wow fadeInUp animated">
  <div ALIGN="CENTER">
	  <h1 CLASS="greatservices">  	<SPAN>WHY </SPAN> CHOOSE US?</h1>
	  
	  <IMG SRC="images/work-brdr-btm.png" CLASS="margin-bottom-30 img-responsive" ALT=""/> </div>
	  
	  
	  
	  <div id="owl-demo" class="owl-carousel owl-theme wow fadeIn">

              <div class="item view view-tenth">
               <h3>We are fast</h3>
			 <div ALIGN="CENTER">  <img src="images/we-are-fast.svg" ALT="We are fast" STYLE="width:50px;"></div>
			   <p>We provide to our clients a simple and trustworthy infrastructure and interface to make monitoring an enjoyable experience.</p>
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
               <h3>We are reliable</h3>
			 <div ALIGN="CENTER">  <img src="images/we-are-reliable.svg" ALT="We are reliable" STYLE="width:50px;"></div>
			   <p>Our monitoring network constantly tests your websites and servers, we never sleep.</p>
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
               <h3>We can do what you need</h3>
			 <div ALIGN="CENTER">  <img src="images/We-can-do-what-you-need.svg" ALT="We can do what you need" STYLE="width:50px;"></div>
			   <p>From performance graphs to failure alerts, we provide you the right tools to prevent problems.</p>
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
               <h3>Easy to Use</h3>
			 <div ALIGN="CENTER">  <img src="images/easy-use.svg" ALT="Easy To Use" STYLE="width:50px;"></div>
			   <p>No complicated software to install; all you need is a web browser.</p>
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
               <h3>Downtime Notification</h3>
			 <div ALIGN="CENTER">  <img src="images/notification.svg" ALT="Notification" STYLE="width:50px;"></div>
			   <p>Be the first to know when your website or server is in trouble! We notify via email, SMS and push notification.</p>
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
               <h3>Maintenance Scheduling</h3>
			 <div ALIGN="CENTER">  <img src="images/maintenance-scheduling.svg" ALT="Maintenance Scheduling" STYLE="width:50px;"></div>
			   <p>You can define one-time and recurring maintenance windows to pause uptime checks. We will not send you downtime alerts on planned outages.</p>
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>
			  
			  
			  
			  <div class="item view view-tenth">
               <h3>Multi-Protocol Support</h3>
			 <div ALIGN="CENTER">  <img src="images/multi-protocol-support.svg" ALT="Multi Protocol Support" STYLE="width:50px;"></div>
			   <p>We support ping, HTTP, HTTPS, FTP, SSH, SMTP, DNS, POP3, IMAP, MySQL, and any arbitrary services running on TCP/IP.</p>
                <div class="mask">
                  <a href="#" class="info" data-toggle="tooltip" data-placement="top" title="Details">
                    <i class="fa fa-link">
                    </i>
                  </a>
                </div>
              </div>


            </div>
	
	</div>

    <div class="bcg">
      <div class="container wow fadeInUp animated ">
        <div class="row">
          <div class="col-lg-6 col-sm-12 wow fadeIn fadeInUp animated "  STYLE="overflow:hidden; padding-bottom:20px;">
		  <h2>	<span>How </span> It Works</h2>
		  <p><STRONG>Getting Started & Configuration</STRONG></p>
<p>Getting started with Root Internet Pvt Ltd is easy. Using our intuitive Web-based control panel, enter the URL you wish to monitor (e.g. http://www.yourdomain.com), and select the monitoring interval (e.g. 1 minute). The monitoring interval represents how often we’ll check to see if the website is online and responding properly. The smaller the interval, the more frequently we’ll check your website.</p>
		  
		  <div CLASS="pull-right bcgreadmore" ><a HREF="#" >Read more</a></div>
		  
 
          </div>
		  
		  <div class="col-lg-6 col-sm-12  wow fadeIn">
		   <h2>	<span>Monitoring</span> Network</h2>
		  <p> We monitor your websites and servers from a network of 30 worldwide monitoring stations. This helps to reduce and eliminate false alarms.</p>
				<iframe class="pic-map" width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=213844056033052194369.0004c854a6479419a19c1&amp;ie=UTF8&amp;t=m&amp;ll=24,32&amp;spn=120.981644,333.632812&amp;z=2&amp;output=embed"></iframe>
		
         
            </div>
          </div>
		  
		  
        </div>
      </div>

    </div>

  	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
  </body>
</html>