<%  include include/main-header %>
<style>
.bcg2{
	background:url(images/bg1.png) repeat;
}
</style>
</head>
<body>
 	<!--header end-->
	<% include include/header %>
	<!--header end-->
 
<div CLASS="bcg2" ALIGN="CENTER"  STYLE="text-align:center; padding-top:40px; padding-bottom:40px;">
	<div CLASS="container">
		<!--start-content------>
		<div class="content">
			<div CLASS="col-md-12" ALIGN="CENTER">	<img src="images/error-img.png" title="error"  CLASS="img-responsive" /></div>
			<div CLASS="col-md-12"> 
				<h2><span><label>O</label>hh.....</span>You requested the page that is no longer there.</h2>
			</div>
			<div><a href="/" CLASS="btn bnerbtn ">Back To Home</a></div>
		</div>
		<!--End-Cotent------>
	</div>  
</div>
	
   	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->
  </body>
</html>